<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<meta name="description" content="description">
<link rel="stylesheet" media="screen" href="/newStyle.css" />



<div id='nav'>
  <section style="background: #f1c40f; color: rgba(0, 0, 0, 0.5);">
    <nav class="shift">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="welcome/artists">Artists</a></li>
        <li><a href="#">Albums</a></li>
        <li><a href="#">Recommendations</a></li>
      </ul>
    </nav>
  </section>
</div>




</head>


<body>

  <div class="fullscreen-bg">
      <video loop muted autoplay poster="./vinyl.png" class="fullscreen-bg__video">
          <source src="./recordplayer.mp4" type="video/mp4">
      </video>
  </div>

    <%= yield %>
</body>

</html>
